Rus1 RCDATA "Rus\Rus1.txt"
Rus2 RCDATA "Rus\Rus2.txt"
Rus3 RCDATA "Rus\Rus3.txt"
Rus4 RCDATA "Rus\Rus4.txt"
Rus5 RCDATA "Rus\Rus5.txt"
Rus6 RCDATA "Rus\Rus6.txt"
Rus7 RCDATA "Rus\Rus7.txt"
Rus8 RCDATA "Rus\Rus8.txt"
Rus9 RCDATA "Rus\Rus9.txt"
Rus10 RCDATA "Rus\Rus10.txt"
Eng1 RCDATA "Eng\Eng1.txt"
Eng2 RCDATA "Eng\Eng2.txt"
Eng3 RCDATA "Eng\Eng3.txt"
Eng4 RCDATA "Eng\Eng4.txt"
Eng5 RCDATA "Eng\Eng5.txt"
Eng6 RCDATA "Eng\Eng6.txt"
Eng7 RCDATA "Eng\Eng7.txt"
Eng8 RCDATA "Eng\Eng8.txt"
Eng9 RCDATA "Eng\Eng9.txt"
Eng10 RCDATA "Eng\Eng10.txt"
